.cont-grande {
  text-align: center;
}
.text{
  color: white;
}
.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  padding: 25px;
  /* Visual  */
  background: rgba(18, 18, 18, 0.88);
  /* Elevation/Outlined Dark */
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.12);
  border-radius: 20px;

}

.ul {
  list-style: none;
}

.li {
  margin-top: 8px;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
}
.li:hover{
  background-color: lightgray;
}

.question-text {
  color: white;
  font-size: 24px;
}



.final-results {

  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background: rgba(18, 18, 18, 0.88);
  /* Elevation/Outlined Dark */
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.12);
  border-radius: 20px;

}

.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}