* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-image : url(/public/images/egipto.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}